.App {
	max-width: 50em;
	margin: 0 auto;
	padding: 32px;
	padding-top: 150px;
}

.todo-input {
	font-size: 24px;
	border: none;
	width: 39%;
	background-color: #fff58c;
}

.todo-input:focus {
	outline: none;
}

.done {
	text-decoration: line-through;
}

.todo {
	margin: 32px 0px;
	display: flex;
	align-items: center;
	font-size: 24px;
}

.checkbox {
	width: 24px;
	height: 24px;
	margin-right: 10px;
	cursor: pointer;
	background: #d9d9d9;
	font-size: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #fff;
	transition: all 300ms ease;
}

.checkbox:hover {
	opacity: 0.8;
}

.delete {
	margin-left: auto;
	font-size: 16px;
	cursor: pointer;
}

.delete:hover {
	opacity: 0.8;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
